html{
	background-color:white;
}

.paragraphText{
	color:blue;
}

.bar{
	margin-top:-30px;
	width:1200px;
	height:150px;
	background-color:lightblue;
}

.Barbutton{
	margin-top:30px;
	width:200px;
	height:30px;
	background-color:grey;
	padding-left:10px;
	padding-right:10px;
}

.barbuttonWrapper{
	padding-left:20px;
	padding-right:20px;
}
